{% extends "layout.html.j2" %}

{% block title %}Trader {% endblock %}
{% block head %}
{{ super() }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    tr#tradebot_row {
        background-color: rgb(134, 207, 134);
        cursor: pointer;
        height: 30px;

    }

    tr#tradebot_row:hover {
        background-color: rgb(126, 171, 212);
        cursor: pointer;

    }

    td#tbot_td {
        border: none;
    }

    div#1wrapper {
        overflow: auto;
    }

    div#1wrapper>div {
        float: left;
        width: 50%;
    }
</style>

<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
{% endblock %}



{% block content %}

<!-- The Body -->
<div>
    <div style="text-align: center;">

        <div style="display: inline-block; width: 100px;">

        </div>
        <!-- TradeBot Table -->
        <div style="width: fit-content; display: inline-block; ">
            <h2 style="text-align: center; ">Trade Bot</h2>

            <table style="border: 1px solid black; border-collapse: collapse;">
                <tr>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">Pair</td>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">Interval</td>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">Strategy</td>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">Trade Limit</td>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">Running</td>
                </tr>

                <tr id="tradebot_row">
                    <td id="tbot_td" style="padding: 10px; text-align: center;">
                        {{btrader_info["TRADE_SYMBOL"]}}</td>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">
                        {{btrader_info["TRADE_INTERVAL"]}}
                    </td>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">
                        {{btrader_info["TRADE_STRAT"]}}</td>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">
                        {{btrader_info["ALLOCATED_TRADE_QUANTITY"]}}</td>
                    <td id="tbot_td" style="padding: 10px; text-align: center;">
                        {{btrader_info["Running"]}}
                    </td>
                </tr>
            </table>
        </div>
        <div style="display: inline-block; width: 100px; vertical-align: bottom;">
            <td>
                <button id="btn_trader_toggle_run">
                    {%if btrader_info["Running"] == True%}
                    {{"STOP"}}
                    {%else%}
                    {{"START"}}
                    {% endif %}
                </button>
            </td>
        </div>
        <!-- Space -->
        <div style="height: 70px;"></div>
        <div class="1wrapper">
            <!-- Chart -->
            <div style=" display: inline-block;">
                <div id="chart_holder" style="text-align: left;">
                    {{ display1_trade_symbol }} | {{ display1_trade_interval }}
                    <div id="chart"></div>
                </div>

                <!-- Backtesting -->
                <div>
                    <h3>Strategy Backtesting</h3>
                    <div>
                        <form action="/bg-run-backtest/" , method="post">
                            <table style="margin: auto;">
                                <tr>
                                    <td>Start Date</td>
                                    <td>End Date</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" name="date_start">
                                    </td>
                                    <td>
                                        <input type="date" name="date_end">
                                    </td>
                                    <td>
                                        <input type="submit" name="submit" value="run">
                                    </td>
                                    <td style="color: dodgerblue; font-size: large;">
                                        {{ backtest_message }}
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                </div>
                <!-- Space -->
                <div style="height: 70px;">
                </div>
                <div id="trades"></div>
            </div>

            <div id="trades"></div>
        </div>

    </div>

    <!-- Trader Logs -->
    <div style=" display: block; text-align: center; margin: 0 auto;">

        <!-- Trader Logs Special-->
        <div style="width: fit-content; margin:0 auto;">
            <h4 style="text-align: left; ">Latest Actions</h4>
            <textarea readonly id="textarea_btrader_logs_special"
                style="height: 300px; width: 900px; flex-wrap: nowrap; "></textarea>
        </div>
        <!-- Trader Logs Info-->
        <div style="width: fit-content; margin:0 auto;">
            <h4 style="text-align: left; ">Latest Logs</h4>
            <textarea readonly id="textarea_btrader_logs_info"
                style="height: 300px; width: 900px; flex-wrap: nowrap; "></textarea>
        </div>
    </div>

    <!-- Strategy Settings-->
    <!--
    <h3>Strategy Settings</h3>
    <div id="settings ">

        <div>
            <input type="checkbox">
            <label>RSI</label>
            <input type="text" name="rsi_length" id="rsi_length" placeholder="14" />
            Overbought
            <input type="text" name="rsi_overbought" id="rsi_overbought" placeholder="70">
            Oversold
            <input type="text" name="rsi_oversold" id="rsi_oversold" placeholder="30">
        </div>
    </div>
    -->

</div>

<script>

    btn_trader_toggle_run = document.getElementById('btn_trader_toggle_run')
    url_trader_toggle_run = '{{ url_trader_toggle_run }}'
    console.log(url_trader_toggle_run)
    btn_trader_toggle_run.addEventListener('click', () => {
        window.location.replace(url_trader_toggle_run);
    });
</script>
<script>
    var logs_special = {{ btrader_logs_special | tojson }};

    var textarea_btrader_logs_special = document.getElementById("textarea_btrader_logs_special");
    logs_special.forEach(log1 => {
        textarea_btrader_logs_special.append(log1["msg"] + "\r\n");
    });
    textarea_btrader_logs_special.scrollTop = textarea_btrader_logs_special.scrollHeight;
</script>
<script>
    var logs_info = {{ btrader_logs_info | tojson }};

    var textarea_btrader_logs_info = document.getElementById("textarea_btrader_logs_info");
    logs_info.forEach(log2 => {
        textarea_btrader_logs_info.append(log2["msg"] + "\r\n");
    });
    textarea_btrader_logs_info.scrollTop = textarea_btrader_logs_info.scrollHeight;
</script>


<script>
    var TRADE_SYMBOL = "{{display1_trade_symbol}}";
    var TRADE_INTERVAL = "{{display1_trade_interval}}";
    var url_history = "{{url_history}}";
</script>
<!-- <script src="../static/chart.js"></script> -->
<script src="{{ url_for('static', filename='chart.js' )}}"></script>

{% endblock %}